<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container-fluid text-center">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/logo.png" alt="" width="40" height="30" class="d-inline-block align-top" />
      Fast Rider
    </a>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" aria-current="inicia Sesión" routerLinkActive="active">
            <h2>Inicia Sesión</h2>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid bg-blu">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-6 col-xl-6">
      <h1>Los repartidores mas veloces de España</h1>
      <h3>Selecciona tu Ciudad</h3>
      <app-header (cityChange)="onCityChange($event)"></app-header>
      <h3>
        <small id="cityHelp" class="form-text">Y ... recibelo donde quieras!</small>
      </h3>
    </div>
    <div class="col-sm-6 col-xl-6">
      <marquee direction="right"><img class="bicing" src="../../../assets/bicing.gif" /></marquee>
    </div>
    <div class="container-fluid categories">
      <div class="categories__child">
        <app-category [categories]="categories"></app-category>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false" interval="8000" [keyboard]="true"
    [pauseOnHover]="false" [wrap]="true" [activeId]="'secondSlide'">
    <ng-template ngbSlide id="firstSlide">
      <div class="picsum-img-wrapper">
        <img class="borderimg" src="../../../assets/repartidor1.jpg" alt="Repartidor 1" />
      </div>
    </ng-template>
    <ng-template ngbSlide id="secondSlide">
      <div class="picsum-img-wrapper">
        <img class="borderimg" src="../../../assets/repartidor2.jpg" alt="Repartidor 2" />
      </div>
      <div class="carousel-caption">
        <h3>Apostamos por una movilidad sostenible...</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide id="thirdSlide">
      <div class="picsum-img-wrapper">
        <img class="borderimg" src="../../../assets/repartidor3.jpg" alt="Repartidor 3" />
      </div>
      <div class="carousel-caption">
        <h3>y lo mejor de todo, por toda la ciudad!!</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide id="fourSlide">
      <div class="picsum-img-wrapper">
        <img class="borderimg" src="../../../assets/repartidor4.jpg" alt="Repartidor 4" />
      </div>
      <div class="carousel-caption">
        <h3>Entregas con su respectivo protocolo de seguridad anti COVID-19</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div>