// .navbar-light {
//   background-color: transparent;
// }

.bg-blu {
  background-color: #5294BD;
}

.intro {
  height: 500px;
  max-height: 600px;
}

.bicing {
  max-width: 70%;
  height: auto;
}

ngb-carousel {
  max-width: 700px;
  margin: 50px auto;
}

ngb-carousel img {
  width: 100%;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
   z-index: 20;
}


.carousel-control-next {
   z-index: 20;
}

.carousel-indicators{
  z-index: 20;
}

.carousel-caption{
  
}

.carousel-box {
  padding: 1%;
  background-color: blanchedalmond;
}

.categories {
  background-color: rgb(238, 247, 245);

  & __child {
    padding: 10%;
  }
}

.borderimg {
  border: 4px solid black;
}