<!-- <swiper [slidesPerView]="3" [spaceBetween]="50" (swiper)="onSwiper($event)" (slideChange)="onSlideChange()" >
    <ng-container *ngFor="let category of categories">
      <ng-template swiperSlide> -->

<div class="row row-cols-1 row-cols-md-3 pt-4 pl-5 justify-content-md-center">
  <div class="col mb-4" *ngFor="let category of categories">
    <div class="card" style="width: 18rem;">
      <img [src]="category.imageUrl" class="card-img-top" alt="...">
      <div class="card-body">
        <center><h5 class="card-title">{{ category.name }}</h5></center>
        <!-- <p class="card-text"></p> -->
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
</div>

<!-- </ng-template>
    </ng-container> -->
<!-- </swiper> -->
