<div class="container-fluid background p-5">
  <div class="text-left">
    <marquee direction="right"><a class="navbar-brand biscolor border border-dark rounded p-2" href="">
        <img class="mr-3" src="../../../../assets/logo.png" alt="" width="40" height="30" />Fast Rider</a></marquee>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
    </button>
  </div>
  <h1 class="pb-5 text-center">Accede a tu cuenta</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-xl-6">
        <div class="bg-white p-5 border border-dark rounded">
          <h4 class="mb-5">Inicia Sesion con tu Email</h4>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="mb-3 text-left">
              <strong><label for="exampleInputEmail1" class="form-label">Email :</label></strong>
              <input formControlName="email" type="email" class="form-control" />
            </div>
            <div class="mb-3 text-left">
              <strong><label for="exampleInputPassword1" class="form-label">Clave :</label></strong>
              <input formControlName="clave" type="password" class="form-control" />
            </div>
            <div class="mb-3 form-check text-left">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" />
              <label class="form-check-label" for="exampleCheck1">Guardar mis datos</label>
            </div>
            <div class="mb-3">
              <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary mr-3">
                Entrar
              </button>
              <button type="submit" class="btn btn-primary" [routerLink]="['/home']">
                Volver
              </button>
            </div>
          </form>
          <strong>
            Eres nuevo usuario de Fast Rider?
            <a href="" [routerLink]="['/register']">Registrate Aqui</a>
          </strong>
          <p class="pt-3">
            Comprueba que tengas una conexion estable a Internet y que nadie
            pueda ver la clave de acceso a la plataforma.
          </p>
         <marquee direction="right" scrollamount="8"><img src="../../../assets/giphy.gif" alt="Repartidor 4" /></marquee>
        </div>
      </div>
    </div>
  </div>
</div>