.background {
    background-color: #4CC9F0;// #ff2b98;
}

.biscolor {
    color: black;
    background-color: rgb(224, 216, 216);
    &:hover {
        background-color: rgb(184, 160, 160);
      }
}