<div class="text-center container-fluid background p-5">
  <div class="text-left">      
    <marquee><a class="navbar-brand biscolor border border-dark rounded p-2" href="#">
    <img class="mr-3" src="../../../../assets/logo.png" alt="" width="40" height="30">Fast Rider</a></marquee>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>
</div>
  <h1 class="pb-5">Proceso de Registro</h1>
  <div class="text-center container col-8 bg-white p-5 border border-dark rounded">
    <h4 class="mb-5">Registrate en Fast Rider y obten beneficios exclusivos, que esperas?</h4>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
      <div class="mb-3">
        <strong><label for="exampleInputEmail1" class="form-label">Nombre y Apellido :</label></strong>
        <input formControlName="nombre" type="nombre" class="form-control">
      </div>
      <div class="mb-3">
        <strong><label for="exampleInputEmail1" class="form-label">Ciudad :</label></strong>
        <input formControlName="ciudad" type="ciudad" class="form-control">
        <div class="form-text pb-4">Recuerda <strong>colocar correctamente tu localidad</strong> para que puedas visualizar los diversos tipos de servicios que ofrecemos en tu Ciudad.</div>
      </div>
      <div class="mb-3">
        <strong><label for="exampleInputEmail1" class="form-label">Email :</label></strong>
        <input formControlName="email" type="email" class="form-control">
        <div id="emailHelp" class="form-text pb-4">Nunca vamos a compartir tu email con nadie, no te preocupes.</div>
      </div>
      <div class="mb-3">
        <strong><label for="exampleInputPassword1" class="form-label">Clave :</label></strong>
        <input formControlName="clave" type="password" class="form-control">
      </div>
      <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary mb-5">Registrarme</button>
      <div class="alert alert-dark" role="alert" *ngIf="success">
        Su cuenta ha sido creada.
      </div>
    </form>
  </div>
</div>