<div class="form-group">
  <select  type="city" class="form-control" (change)="onChange($event)" [(ngModel)]="selectedCity"  aria-describedby="cityHelp">
    <option *ngFor="let city of cities" [ngValue]="city" >
      {{city.name}}
    </option>
  </select>
</div>
