<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <div class="container-fluid text-center">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/logo.png" alt="" width="40" height="30" class="d-inline-block align-top">
      Fast Rider
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a  class="nav-link" [routerLink]="['/login']" aria-current="inicia Sesión" routerLinkActive="active"><h2>Inicia Sesión</h2></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row justify-content-md-center align-items-center bg-pink intro">
    <div class="col-5">
      <h1 class="display-4">Los repartidores mas veloces de España</h1>
      <h3 class="display-5">Selecciona tu Ciudad</h3>
      <app-header (cityChange)="onCityChange($event)"></app-header>
    </div>
    <div class="col-5 text-center">
      <img class="bicing align-middle" src="../../../assets/bicing.png" />
    </div>
  </div>
</div>
<div class="container">
  <app-category [categories]="categories"></app-category>
</div>
